.container {
  display: flex;
  gap: 40px;
}
.sidebar {
  background: #1d4c43;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  flex: 0.5;
  height: 100vh;
  width: 50px;
  color: #fff;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar img {
  width: 100px;
}
.sidebar p {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 11px;
}
.sidebar .logout-btn {
  margin-top: 500px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}
.main {
  flex: 2;
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
.expense h2 {
  font-size: 20px;
  padding-bottom: 15px;
}
.expense h3{
    font-size: 18px;
    font-weight: 500px;
    line-height: 1.5;
    letter-spacing: 1.4px;
}
.expense p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .8px;
}
.card {
  background: #ebf3e6;
  color: #000;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  width: 450px;
  padding: 10px;
  border-radius: 5px;
}
.card-title {
  padding-bottom: 6px;
  font-weight: 700;
}

.card-body {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  width: 400px;
  padding-top: 5px;
}
